/* Estilo do body normal */
.bg-classic{
    background: #f1f1f1;
    overflow-x: hidden;
}

/* Estilo do body com modo escuro */
.bg-dark{
    color: #f1f1f1;
    overflow-x: hidden;
}

.bg-alto{
    background-color: #f21010;
    overflow-x: hidden;
    color:#f1f1f1;    
}
/* Estilo da Div Header */
.header{
    background: #090808;
}

/* Estilo da navbar que está no header */
.nav.justify-content-between{
    background: #090808 !important;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 4;
}

/* Estilo do botão "Jogue Agora" */
.btn-danger{
    background-color: #B00000;
    border-color: 2px solid #B00000;
}

/* Estilo do switch para ativar o Modo Escuro quando está desligado */
#btnModoEscuro{
    background-color: #494b4d;
}

/* Estilo do switch para ativar o Modo Escuro quando está ligado */
#btnModoEscuro:checked{
    background-color: #d9d9d9;
    border-color: #090808;
}

/* Estilo do switch para ativar o Alto Contraste quando está desligado */
#btnAltoContraste{
    background-color: #862e2e;
}

/* Estilo do switch para ativar o Alto Contraste quando está ligado */
#btnAltoContraste:checked{
    background-color: #494b4d;
    border-color: #090808;
}

/* Estilo das Divs com classe 'content' */
.content{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
 } 

/* Estilo da Div inicial da página com o fundo de cartas */
.content.inicio{
    background: url("../img/fundoTela.png");
}

/* Estilo da imagem de copas na Div inicial  */
.img-inicio{
    padding-top: 40vh;
    mix-blend-mode: multiply;
}

/* Estilo padronizando as divs para o conteúdo sinopse, personagens e avaliações */
.content.sinopse, .content.personagens, .content.avaliacoes{
    position: relative;
    padding-top: 50px;
}

/* Estilo da linha onde estão as divisões do menu lateral e conteúdo */
.row{
    width: 100%;
    max-height: 95%;
    position: relative;
}

/* Estilo da Imagem do menu lateral */
a.navbar-brand{
    margin-right: 15%;
}

/* Estilo do menu lateral */
.nav.flex-column{
    position: relative;
    width: 85%;
}

/* Estilo dos itens do menu lateral */
.nav.nav.flex-column .nav-item{
    margin: 15px 0;
    left: 0;
}

/* Estilo dos botões do menu lateral */
.nav-link{
    background: #d9d9d9 !important;
    color: #090808;
    width: 80% !important;
    border-radius: 0px !important;
}

/* Estilo para quando parar o mouse nos "botões" do menu lateral */
.nav-link:hover{
    color: #f1f1f1;
}

/* Estilo do botão do menu lateral atual */
.nav-link.active{
    width: 90% !important;
    background: #494b4d !important;
    color: #f1f1f1;
}

/* Estilo para quando parar o mouse no "botão" do menu lateral atual */
.nav-link.active:hover{
    color: #d9d9d9;
}

/* Estilo da Div com o texto do conteúdo de sinopse */
.text-sinopse{
    margin-top: 15px;
    max-height: 50%;
    width: 100%;
    position: relative;
    text-align: left;
}

/* Estilo da Div que iria conter o trailer da sinopse */
.video-sinopse{
    position: relative;
    max-height: 50%;
    width: 50%;
    color: #f1f1f1;
    background: #090808;
}

.imgs-personagens{
    margin-top: 10px;
    display: flex;
    width: 99%;
    height: max-content;
}

.img-personagem{
    margin-right: 25px;
    width: 100%;
    height: 100%;
}

.sobre-personagem{
    margin-left: 18px;
}

.content.avaliacoes a.navbar-brand{
    margin-right: 16%;
}

.avaliacao-usuario{
    margin-top: 10px;
    margin-bottom: 15px;
}

.img-user{
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

.content.avaliacoes .info-usuario{
    text-align: left;
}

.info-usuario{
    margin-top: 20px;
}

.info-usuario .nome-user h6{
    font-size: 18px;
}

.comentario-user h6{
    margin-top: 5px;
}

.posterior{
    margin-top: 10px;
}

.content.avaliacoes{
    height: max-content;
}

.footer{
    position: relative; 
    background: #090808;
    height: 200px;
    bottom: 0;
    padding-top: 3em;
    padding-bottom: 3em;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
  } 

/* Estilo a ser usado para responsividade*/
@media screen and (max-width: 767.98px){
    .menu-lateral, .conteudo-principal{
        width: 50%;
    }

    .content.sinopse, .content.avaliacoes{
        position: relative;
        height: max-content !important;
    }

    .content.personagens{
        height: 82vh;
    }

    .video-sinopse{
        position: relative;
        max-height: 50%;
        width: 90%;
        background: red;
    }

    .imgs-personagens{
        flex-direction: column;
        justify-content: center;
        margin-top: 30% !important;
        width: 95% !important;
    }

    .img-personagem{
        margin-top: 25px;
        width: 100% !important;
        height: 100% !important;
    }

    .avaliacao-usuario{
        flex-direction: column;
    }

    .img-user{
        width: 100px;
        height: 100px;
        border-radius: 100px;
    }
    .info-usuario{
        margin-top: 20px;
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.98px){
    .content.sinopse{
        height: max-content;
    }
    .content.personagens{
        height: 60vh;
    }

    .content.avaliacoes{
        height: max-content;
    }

    .avaliacao-usuario{
        width: 100% !important;
    }
    
    .img-usuario{
        width: 40%;
    }
}